html {
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  font-weight: normal;
}

title {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

a {
  color: #8f2440;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

h2 {
  color: #3f1622;
  font-weight: bold;
}

p {
  font-family: "PT Serif", serif;
}

aside {
  font-size: 1.125rem;
}

.chrissmall {
  font-size: .8rem;
  font-weight: bold;
}

h2 ol li {
  list-style-type: disc;
}

img {
  width: 100%;
}
