html {
  background-color: #c9b5ab;
}

title {
  color: #3f1622;
}

a {
  color: #8f2440;
  hover: #222;
}

h2 {
  color: #3f1622;
}
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
